.navbar {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.logo {
    font-size: 34px;
    padding: 30px 30px 20px 30px;
    font-weight: lighter;
    letter-spacing: 2px;
}