<div class="wrapper">
    <div class="popup-container" *ngIf="isPoppedUp && !isEdit">
        <div class="name-handler">
            <p class="container-name">POP UP.</p>
        </div>
        <div class="cross-handler">
            <button class="cancel-btn" (click)="closePopUp()"><img class="bin" src="assets/cross.svg" alt=""></button>
        </div>
        <div class="popup-content">
            <div class="popup-image-handler">
                <p class="card-photo-name">IMAGE.</p>
            </div>
            <div class="popup-info-handler">
                    <p class="card-info">NAME.: {{ poppedUpBook.name }}</p>
                    <p class="card-info">AUTHOR.: {{ poppedUpBook.author }}</p>
                    <p class="card-info">YEAR.: {{ poppedUpBook.year }}</p>
            </div>
        </div>
        <div class="popup-description-handler">
            <p class="card-info">DESCRIPTION.: {{ poppedUpBook.description }}</p>
        </div>
        <div class="popup-buttons-handler">
            <button class="card-btn" (click)="onDeleteBook(editableIndex)"><img src="assets/bin.svg" class="bin"></button>
            <button class="card-btn" (click)="onEditBook(editableIndex)"><img src="assets/pencil.svg" class="pencil"></button>
        </div>
    </div>
    <div class="edit-container" *ngIf="isEdit">
        <div class="name-handler">
            <p class="container-name">EDIT.</p>
        </div>
        <div class="cross-handler">
            <button class="cancel-btn" (click)="cancelEditing()"><img class="bin" src="assets/cross.svg" alt=""></button>
        </div>
        <div class="form-handler">
            <form class="form" [formGroup]="editForm" (ngSubmit)="onSubmitEditBook()">

                <label for="name">NAME.:</label>
                <input formControlName="name" type="text" id="name" placeholder="NAME...">

                <label for="author">AUTHOR.:</label>
                <input formControlName="author" type="text" id="author" placeholder="AUTHOR...">

                <label for="year">YEAR.:</label>
                <input formControlName="year" type="text" id="year" placeholder="YEAR...">

                <label for="description">DESCRIPTION.:</label>
                <input formControlName="description" type="text" id="description" placeholder="DESCRIPTION...">

                <button class="form-btn" type="submit">SUBMIT.</button>
            </form>
        </div>
    </div>
    <div class="sidebar" [ngClass]="{'when-edit': isEdit || isPoppedUp}">
        <div class="name-handler">
            <p class="container-name">FORM.</p>
        </div>
        <div class="form-handler">
            <form class="form" [formGroup]="bookForm" (ngSubmit)="onAddBook()">

                <label for="name">NAME.:</label>
                <input formControlName="name" type="text" id="name" placeholder="NAME...">

                <label for="author">AUTHOR.:</label>
                <input formControlName="author" type="text" id="author" placeholder="AUTHOR...">

                <label for="year">YEAR.:</label>
                <input formControlName="year" type="text" id="year" placeholder="YEAR...">

                <label for="description">DESCRIPTION.:</label>
                <input formControlName="description" type="text" id="description" placeholder="DESCRIPTION...">

                <button class="form-btn" [disabled]="isEdit" type="submit">SUBMIT.</button>
            </form>
        </div>
    </div>
    <div class="content" [ngClass]="{'when-edit': isEdit|| isPoppedUp}">
        <div class="name-handler">
            <p class="container-name">LIST.</p>
        </div>
        <div class="input-handler">
            <input 
                class="search-input" 
                type="text" 
                [(ngModel)]="searchModel" 
                placeholder="SEARCH..."
                (input)="onSearch()">
        </div>
        <div class="cards-handler">
            <div class="card" *ngFor="let item of filteredBooks; let i = index;" (click)="activatePopUp(i)">
                <div class="photo-handler">
                    <p class="card-photo-name">IMAGE.</p>
                </div>
                <div class="info-handler">
                    <p class="card-info">NAME.: {{ item.name }}</p>
                    <p class="card-info">AUTHOR.: {{ item.author }}</p>
                    <p class="card-info">YEAR.: {{ item.year }}</p>
                </div>
                <div class="buttons-handler">
                    <button class="card-btn" [disabled]="isEdit || isPoppedUp" (click)="onDeleteBook(i)"><img src="assets/bin.svg" class="bin"></button>
                    <button class="card-btn" [disabled]="isEdit || isPoppedUp" (click)="onEditBook(i)"><img src="assets/pencil.svg" class="pencil"></button>
                </div>
            </div>
        </div>
    </div>
</div>